* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
}

#canvas { 
    display: block;
    width: 100vw;
    height: 100vh;
    cursor: default;
    position: relative;
}
